.App {
  text-align: center;
  background: white;
}
.body{
  display: flex;
  align-content: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(39, 156, 45,0.25);
}

input {
  width: 100%;
  background-color: white;
  color: RED;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border:1px solid green;
}
input:hover {
  background-color: #f7f5ff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button {
  transition-duration: 0.4s;
}
button{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  color: green;
  border:1px solid green;
  background-color: white;
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: green;
  color: white;
  margin-bottom: 50px;
  overflow: hidden;
}
.nav-Links{
  width: 40%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style: none;

}
.nav ul link{
   border:1px solid darkgreen;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.book {
  display: flex;
  background-color: #FFFFFF;
  margin: auto;
  width: 60%;
  min-width: 600px;
  max-width: 850px;
  padding: 15px;
  border: 1px solid #ccc;
}

.book img {
  border: 1px solid #ccc;
  max-height: 208px;
  width: 130px;
}

.bookDetails {
  text-align: left;  
  padding: 3px 8px 3px 20px;
}

.bookDetails a {
  text-decoration: none;
  color: #02729e;
}

.bookDetails a:hover {
  text-decoration: underline;
}

.bookDetails p{
  margin: 0;
  padding: 7px 0 0 0;
}
.bookDetails button{
  background: #509630;
}

.authors {
  font-size: 14px;
}

#loader {
  margin: auto;
  width: 130px;
  padding: 200px 0;
}

button{
  color: cornflowerblue;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;

}

.auth-wrapper .form-control:focus {
  /*border-color: #167bff;*/
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: white !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  /*border-color: #167bff;*/
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}